# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Minify.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\33666\Documents\C#\Minify\Minify\.idea\.idea.Minify\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
